#scroll {
    width: 30px;
    float: right;
    position: fixed;
    right: 35px;
    bottom: 50px;
    z-index: 3;
}

ul {
    list-style: none;
}

#links > ul li{
    float: left;
    padding: 10px;
} 


a,a:link{
	color:#373d41;
	text-decoration: none;
}
a:hover {
	color: #00C1DE;
}
